Consumer/bin/
Consumer/obj/Debug/components.xml
Consumer/obj/
Framework/obj/
Consumer/.vs/
.vs/
Framework/Consumer/obj/
Framework/Consumer/bin/
ServiceBase/Consumer/bin/
ServiceBase/Consumer/obj/
ServiceBase/ServiceName/obj/
ServiceBase/Test/obj/
