Consumer/bin/
Consumer/obj/Debug/components.xml
Consumer/obj/
Framework/obj/
Consumer/.vs/
.vs/
Framework/Consumer/obj/
Framework/Consumer/bin/
ServiceBase/Consumer/bin/
ServiceBase/Consumer/obj/
ServiceBase/ServiceName/obj/
ServiceBase/Test/obj/
NetCore/Framework/Consumer/obj/
NetFramework/Framework/obj/
NetFramework/ServiceBase/Consumer/obj/
NetFramework/ServiceBase/Test/obj/
NetFramework/ServiceBase/ServiceName/obj/
NetFramework/Framework/Consumer/bin/
NetCore/ServiceBase/Consumer/bin/
NetCore/ServiceBase/Consumer/obj/
NetCore/ServiceBase/ServiceName/obj/Debug/net8.0/CompanyN.53031AC3.Up2Date
NetFramework/ServiceBase/Consumer/bin/
NetCore/ServiceBase/ServiceName/obj/
NetFramework/Framework/Consumer/obj/
NetCore/Framework/Consumer/bin/
NetCore/Framework/obj/
NetCore/ServiceBase/ServiceName/bin/
NetCore/Framework/bin/
NetCore/ServiceBase/Test/obj/
NetCore/ServiceBase/Test/bin/
NetCore/WebApplication1/bin/
NetCore/WebApplication1/obj/
